.TrendingDiv {
  /* border: 1px solid red; */
  background-color: whitesmoke;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 21px;
  padding: 25px;
  color: white;
}
.TrendingDiv > div > img {
  border-radius: 4%;
  /* border: 1px solid red; */
  height: 160px;
  width: 1000px;
}
.Watchfree {
  font-size: 15px;
  display: flex;
  justify-content: flex-start;
  margin-left: 2%;
  margin-bottom: 10px;
  color: black;
  font-family: sans-serif;
  font-weight: bold;
}
